*.o
*.a
*.so

lib/*
bin/*

*.out
?*test$
spc$

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.out
*.toc

*.sublime-project
*.sublime-workspace

# all executables, fuck you git!
src/bin/spc/spc
test/buffer/bungettest
test/buffer/bgettest
test/buffer/bprintftest
test/buffer/bputtest
test/symtab/symtabtest
test/strtab/strtabtest

# manual txt + tex files
man-*.tex*

