*.o
*.a
*.so

*.out
*.txt

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.out
*.toc

*.sublime-workspace

bin/*
lib/*

# all executables, fuck you git!
src/bin/spc/spc
test/buffer/bungettest
test/buffer/bgettest
test/buffer/bprintftest
test/buffer/bputtest
test/symtab/symtabtest
test/strtab/strtabtest

# manual txt + tex files
man-*.tex*

# acceptor image
acceptor.png

